@import "colors";

.main {
  color: $main-section-text-color;
  width: 1100px;
  height: 611px;
  margin-left: 166px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;

  &-services {
    display: flex;
    flex-direction: column;


    &-title {
      width: 607px;
      height: 92px;

      h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.27;
      }
    }

    &-list {
      width: 1110px;
      height: 309px;
      margin-top: 60px;
      display: flex;


      &-element {
        width: 255px;
        height: 309px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & + & {
          margin-left: 30px;
        }

        h3 {
          width: 183px;
          height: 68px;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 1.416;
        }

        p {
          width: 194px;
          height: 78px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.86;
          color: $main-section-p-color;
        }

        h4 {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.125;
          text-decoration-line: underline;
          color: $accent-color
        }
      }
    }
  }


}