@import "header";
@import "colors";
@import "mainsection";
@import "invite";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 1440px;
  height: 2667px;
  color: $text-color;
}

